<!DOCTYPE html>
<html>
<head>
    <title> Pixabay Search (Express Version) </title>
</head>
<body>

<h1> Pixabay Search Results </h1>
<form action="/results" method="GET">

    Keyword: <input type="text" name="keyword">
    <br><br>
    Orientation:
    <select id="orientation" name="Select">
        <option value="horizontal">Horizontal</option>
        <option value="vertical">Vertical</option>
    </select>
    <button id="searchbtn">Search</button>

</form>
<br>

<img src='<%= image %>'>

</body>
</html>